terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

*.tfvars
!terraform.tfvars.example

tfplan
tfplan-*
*.tfplan

.terraform/
.terraform.lock.hcl

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json
